<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="public_key_fetcher" frontName="public_key_fetcher">
            <module name="MoneyHash_SDK"/>
        </route>

        <route id="create_intent" frontName="create_intent">
            <module name="MoneyHash_SDK" />
        </route>
    </router>
</config>