<?xml version="1.0"?>
<!--
/**
 * This file sets the default configuration for our payment method.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/config.xsd">
    <default>
        <payment>
            <mhcheckout_sdk>
                <active>1</active>
                <model>MHCheckout\SDK\Model\Payment\SdkMethod</model>
                <title>Secure Payment via SDK</title>
                <payment_action>authorize_capture</payment_action>
                <can_capture>1</can_capture>
                <can_authorize>1</can_authorize>
                <is_gateway>1</is_gateway>
            </mhcheckout_sdk>
        </payment>
    </default>
</config>
